<div>
  <a href='/shows/new'>
    <div class='post-button'>Post a new show!</div>
  </a>
</div>

<% @shows.each do |show| %>
  <div>
    <% show.bands.each do |band| %>
      <div>
        <%= band.name %>
      </div>
    <% end %>
    <% show.venues.each do |venue| %>
      <div>
        <%= venue.name %>
      </div>
    <% end %>
    <div>
      <%= show.details %>
    </div>
    <div>
      <%= show.datetime %>
    </div>
  </div>
  ________________________________________
<% end %>
