<span>
  <a href='/shows/new'>
    <div class='post-button'>Post a new show!</div>
  </a>
</span>

<div class='zip-code-form'>
  Find a Show by Zip Code:
  <form action='/shows' method='get'>
    <input type='text' name='zip_code' placeholder='Zip Code'>
    <input type='submit' value='Find a Show'>
  </form>
</div>

<% @shows.each do |show| %>
  <div class='border'>
    <% show.bands.each do |band| %>
      <div>
        <%= band.name %>
      </div>
    <% end %>
    <div>
      <%= show.venue.name %>
    </div>
    <div>
      <%= show.details %>
    </div>
    <div>
      <%= show.datetime %>
    </div>
  </div>
<% end %>
